{
  "extends": ["react-app", "plugin:prettier/recommended"],
  "rules": {
    "prettier/prettier": ["error", { "singleQuote": true }],
    "react/jsx-pascal-case": ["<enabled"],
    "react/jsx-filename-extension": [1]
  }
}
